.datepicker{
    z-index: 9999 !important;
}

.gallery-folder{
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3%;
    transition: transform .2s;
}

.gallery-folder:hover{
    transform: scale(1.1);
}